@model Test.Models.Teacher

@{
    ViewBag.Title = "Show";
}
<!--Use the models to get the info from our db-->
<h2>Show</h2>
<p>First Name: </p><p>@Model.teacherfname</p>
<p>Last Name: </p><p>@Model.teacherlname</p>
<p>Teacherid: </p><p>@Model.teacherid</p>
<p>Employee Number: </p><p>@Model.employeenumber</p>
<p>Hire Date: </p><p>@Model.hireDate</p>
<p>Salary per Hour: </p><p>@Model.salary</p>


