@model Test.Models.Teacher

@{
    ViewBag.Title = "Show";
}
<!--Use the models to get the info from our db-->
<style>
    /*Set deletion and nav links in show teacher*/
    .navlink {
        margin: 25px;
        text-decoration: none;
        float: right
    }

    .dellink {
        margin: 25px;
        text-decoration: none;
        float: right
    }

        .dellink:hover {
            color: red;
            text-decoration: none;
            float: right;
        }

   
    h2 {
        padding-top: 50px;
    }

</style>



<h2>Show</h2>
<div>
    <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete Teacher</a>
    <a class="navlink" href="/Teacher/Update/@Model.teacherid">Update</a>
</div>

<p>First Name: </p><p>@Model.teacherfname</p>
<p>Last Name: </p><p>@Model.teacherlname</p>
<p>Teacherid: </p><p>@Model.teacherid</p>
<p>Employee Number: </p><p>@Model.employeenumber</p>
<p>Hire Date: </p><p>@Model.hireDate</p>
<p>Salary per Hour: </p><p>@Model.salary</p>



